<!DOCTYPE html>
<html>
  <head>
    <title>My Webpage</title>

  </head>
  <body>
    <h1>{{ headline }}</h1>
    {#<!-- }What is this {{ }} syntax?
    templating language called jinja2, it is a standalone language
    flask uses it for creating dynamic webpages -->#}

    {# jinja2 programming language ignores html comments,
      read this stackoverflow query:
      https://stackoverflow.com/questions/48825486/jinja-ignores-html-comments #}
    
    <p>Dynamic webpage with backend code written in python using Flask micro-library</p>
  </body>
</html>
